.container {
  width: 500px;
  height: 500px;
  position: relative;
  right: 0px;
  margin: auto;
}

.text {
  display: block;
  height: 40px;
  width: 70px;
  font-size: 2rem;
  border-bottom: 1px dotted black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  cursor: help;
}

.tips {
  opacity: 0;
  visibility: hidden;

  position: absolute;
  bottom: 48%;
  left: 60%;
  z-index: 999;

  background-color: #555;
  width: 120px;
  line-height: 20px;
  text-align: center;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  transition: all 0.2s ease;
}

.tips::after {
  content: '';
  position: absolute;
  left: -12px;
  transform: translateY(30%);

  border-width: 6px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

.text:hover + .tips {
  visibility: inherit;
  opacity: 1;
}